################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/WaterMark/.vs/WaterMark/v15/Server/sqlite3
/.vs
